    .event-list {
    	list-style: none;
    	margin: 0px;
    	padding: 0px;
    }
    .event-list > li {
    	background-color: rgb(255, 255, 255);
    	box-shadow: 0px 0px 5px rgb(51, 51, 51);
    	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    	padding: 0px;
    	margin: 0px 0px 20px;
    }
    .event-list > li > time {
    	display: inline-block;
    	width: 100%;
    	color: rgb(255, 255, 255);
    	background-color: #b2be89;
    	padding: 5px;
    	text-align: center;
    	text-transform: uppercase;
    }
    .event-list > li:nth-child(even) > time {
    	background-color: white;
        color: #b2be89;
    }
    .event-list> li > time > span {
    	display: none;
    }
    .event-list > li > time > .day {
    	display: block;
    	font-size: 56pt;
    	font-weight: 100;
    	line-height: 1;
    }
    .event-list > li > time > .month {
    	display: block;
    	font-size: 24pt;
    	font-weight: 900;
    	line-height: 1;
    }
    .event-list > li > .info {
    	padding-top: 5px;
    	text-align: center;
        background-color: #f1efe8;
    }

    .event-list > li > .info > a {
    	border: none;
    	background: none;
    }

    .event-list > li > .info > a:hover {
    	border: none;
    	background: none;
    }

    .event-list > li > .info > a > .title {
		font-size: 22pt;
    	text-align: center;
    	margin: 0px 0px 15px 0px;
    }
    .event-list > li > .info > a > .desc {
    	font-size: 13pt;
    	font-weight: 300;
    	margin: 0px;
    }

    @media (min-width: 768px) {
    	.event-list > li {
    		position: relative;
    		display: block;
    		width: 100%;
    		height: 120px;
    		padding: 0px;
    	}
    	.event-list > li > time,
    	.event-list > a > li > img  {
    		display: inline-block;
    	}
    	.event-list > li > time,
    	.event-list a > li > img {
    		width: 120px;
    		float: left;
    	}
    	.event-list > li > .info {
    		background-color: rgb(245, 245, 245);
    		overflow: hidden;
    	}
    	.event-list > li > time {
    		width: 120px;
    		height: 120px;
    		padding: 0px;
    		margin: 0px;
    	}
    	.event-list > li > .info {
    		position: relative;
    		height: 120px;
    		text-align: left;
    		padding-right: 40px;
    	}	
    	.event-list > li > .info > a > .title, 
    	.event-list > li > .info > a > .desc {
    		padding: 0px 10px;
    	}
    }